.xxl-text {
  font-size: 7em;
}

.xl-text {
  font-size: 6em;
}

.large-text {
  font-size: 5em;
}
.original-p {
  font-size: 4em;
}

.medium-text {
  font-size: 3em;
}

.small-text {
  font-size: 2.5em;
}
